* {
    margin: 0;
    padding: 0;
    
}

html,body{
height: 100%; }

body {
    font-family: sans-serif;
    background-color: #C7DEFE;
}


.main {
    position: relative;
    margin: 50px;

    background-color: white;
    
    padding: 20px 0px; 
    overflow: hidden;
    
}


/* Header  start*/

.header {
    min-height: 100px;
    background-color: white;
    overflow: hidden;
}

.header .wrapper {
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 30%;
    float: left;
}

.nav {
    width: 70%;
    float: right;
    margin-top: 50px;
}

.nav ul {
    list-style: none;
    float: right;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    text-decoration: none;
    
    padding: 0 50px;
    font-size: 20px;
}

/* Header  end*/

/* Banner  start*/

.banner {
    background-image: url(Banner.jpg);
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -300px;
    overflow: hidden;
    margin: 0%;
}



.box {
    position: absolute;
    top: 200px;
    width: 400px;
    
    
    padding: 40px 40px; 
    box-sizing: border-box;

    margin-top: 80px;
    
    
    background-color: rgba(0, 0, 0, 0.5)
}

h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: normal;
}

.box p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
}

.banner_button {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 40px;
    font-size: 15px;
    cursor: pointer;
    
}
/* Banner  end*/

/* Service start */

.service {
    overflow: hidden;
    padding: 100px;
}

.service_section {
    overflow: hidden;
}

.villas {
    float: left;
    width: 33%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
    font-weight: normal;
}

.content {
    margin: 50px;
}

p {
    text-align: center;
    margin: 40px 5px;
    font-size: 17px
}

.more {
    position: relative;
    left: 35%;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    
    background-color: #445C82;
    padding: 5px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.copy {
    margin: 15px;
}

.template {
    margin: 15px;
    font-size: 15px;
}

.icons{
    width: 200px;
    margin: 0 auto;
}

i {
    font-size: 40px;
    float: left;
    
    margin: 10px;
}

.fb {
    color: #4C67A3;

}

.tw {
    color: #1FABE3;
}

.gl {
    color: #F5A31B;
}












